/*----HEADER----*/

header {
    position: sticky;
    top: 0;
    nav{
        .fondo{
            background-color: rgb(10, 32, 226);
            .navbar-brand {
                color: white;
            }
            .logo {
                width: 100px;
                height: 100px;
                border-radius: 100%;
            }
            .btn {
                border: 1px solid white;
                border-radius: 5px;
                transition: 1s;
                color: white;
                &:hover {
                    background-color: rgba(0, 255, 106, 0.945);
                    border: 1px solid white;                transform: scale(1.1);
                }
            }
          
            .navbar-toggler {
                background-color: white;
            }
            .nav-item {
                .nav-link {
                    color: white;
                    transition: 1s;
                    &:hover {
                        transform: scale(1.1);
                        color: brown;
                    }
                }
               
            }
        }
    }
}

/*-----MAIN------*/

main{
    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.555)), url(../img/fondo-futbol.jpg);
        width: 100%;
        height: calc(100vh - 83.75px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            color: white;
            text-align: center;
            a {
                width: 20px;
                color: brown;
                background-color: rgba(0, 255, 106, 0.945);
                padding: 5px;
                margin: 20px;
                text-decoration: none;
                border-radius: 8px;
                transition: 1s;
                &:hover {
                    transform: scale(1.5);
                    background-color: aqua;
                    font-size: 20px;
                }
            }
            .tituloAzul {
                border: 2px solid white;
                margin-bottom: 20px;
                font-size: 35px;
                padding: 10px;
            }          
            
        
        }
    }
    .titulo2 {
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-align: center;
            div h2 {
                text-align: center;
                margin-top: 50px;
            }
        } 
    .galeriaDeFotos {
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-wrap: wrap;
            div {
                text-align: center;
                border: 2px black solid;
                width: 250px;
                height: 300px;
                border-radius: 8px;
                transition: 1.5s;
                margin-bottom: 100px;
                margin-top: 30px;
                &:hover {
                    transform: scale(1.1);
                    img {
                        width: 100%;
                        height: 57%;
                        border-radius: 0 0 8px 8px;
                    
                    }
                }
            
            }
        }
            
}
